.repo_list_body
{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: 1;
}

#reduce
{
	position: relative;
	min-height: 340px;
	display: flex;
	flex-direction: column;
        justify-content: space-between;
	width: 150px;
        z-index: 2000;
        margin-bottom: -100px;
	flex: 1;
}

.aside_searchbar
{
	position: relative;
	width: 150px;
	height: 100%;
	background-image: url(../images/texture_aside.png);
	z-index: 2000;
	box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.7);
	flex: 1;
}

.aside_searchbar_lit
{
	position: relative;
        width: 55px;
        height: 100%;
        background-image: url(../images/texture_aside.png);
        z-index: 2000;
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.7);
        flex: 1;
	display: none;
}

#reduce:target .aside_searchbar_lit
{
	display: block;
}

#reduce:target .aside_searchbar
{
	display: none;
}

.aside_searchbar_title
{
        position: relative;
	width: 60%;
        height: 20px; 
        margin-top: 10px;
        background-image: url(../images/texture_inscription.png);
        border-radius: 0px 5px 5px 0px;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

.aside_searchbar_title_text
{
	margin-left: 10px;
	color: #DDD9D1;
}

.aside_searchbar_choix
{
        position: relative;
        width: 82%;
        height: 20px;
        margin-top: 10px;
        margin-left: 18%;
}


.aside_searchbar_choix_active
{
        position: relative;
        width: 82%;
        height: 20px;
	margin-top: 10px;
	margin-left: 18%;
        background-image: url(../images/texture_connexion.png);
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

.aside_searchbar_choix_text
{
        margin-right: 10px;
	margin-left: 5px;
        color: #DDD9D1;
	cursor: pointer;
}

.reduire 
{
	position: relative;
        margin-top: 45px;
	width: 150px;
	border-top: 1px grey solid;
}

.reduire a
{
        color: #DDD9D1;
        font-size: xx-large;
	margin-top: -5px;
}

.reduire a:hover
{
	color: white;
}

.hide_checkbox
{
	margin-left: 45%;
}

#reducebutton
{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 44%;
	margin-top: 12px;
	opacity: 0;
}

.agrandir
{
        position: relative;
        margin-top: 50px;
        width: 55px;
        border-top: 1px grey solid;
}

.agrandir a
{
        color: #DDD9D1;
        font-size: xx-large;
}

.agrandir a:hover
{
        color: white;
}

.hide_checkbox_agrandir
{
	margin-left: 55%;
}

.picto_title
{
	margin-top: 3px;
	margin-left: -7px;
	height: 15px;
}

.picto
{
	margin-top: 3px;
        height: 15px;
}

.repo_list
{
        position: relative;
        width: calc(85% - 200px);
        margin-top: 30px;
        margin-right: 7.5%;
}

.repo_list_result
{
        position: relative;
        display:flex;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px #DCDCDC solid;
        margin-top: 25px;
        color: black;
        padding-bottom: 10px;
}

.repo_list_result a
{
        text-decoration: none;
        color: black;
}

.description
{
        width: 100%;
        font-size: small;     
        word-wrap: break-word;
}

.project_logo
{
        position: relative;
        width: auto;
        height: 100px;
}

.project_name_description
{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        width: 80%;
}

.title_repo
{
	font-size: large;
        word-wrap: break-word;
}

.sub_title_repo
{
	font-size: small;
	color: #626968;
        word-wrap: break-word;
}
