.repo_list_body
{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: 1;
}

.aside_searchbar
{
	position: relative;
	width: 150px;
	height: 100%;
	background-color: #353E46;
	z-index: 2000;
	margin-bottom: -100px;
	padding-bottom: 50px;
	border-right: 1px solid grey;
}

.aside_searchbar_title
{
        position: relative;
	width: 100%;
        padding-top: 10px;
	padding-bottom: 10px;
        font-size: 20px;
        color: #969696;
	text-align: center;
	border-top: 1px solid grey;
	background-color: #353E46;
}

.aside_searchbar_tab
{
	display: flex;
    	justify-content: space-between;
	height: 80px;
	width: 150px;
	border-top: 1px solid grey;
	background-color: #353E46;
}

.aside_searchbar_tab_active
{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 150px;
        border-top: 1px solid grey;
        background-color: #44505A;
}

.aside_temoin
{
	position: relative;
	margin: 0;
        height: 80px;
	width: 7px;
        border-right: 1px solid grey;
        background-color: #454F5A;
}

.aside_temoin_active
{
        height: 80px;
	width: 7px;
        border-right: 1px solid grey;
        background-color: #601764;
}

.aside_logo
{
	display: flex;
	flex-direction: column;
	height: 80px;
	width: 150px;
	font-size: 55px;
	color: #969696;
	text-align: center;
}

.aside_text
{
	font-size: 13px;
	color: #6B6B6B;
	text-align: center;
}

.select_type
{
	width: 100%;
        border: none;
	color: #969696;
	font-size: 12px;
	padding-left: 15px;
	text-align: center;
	background-color: #44505A;
}

.repo_list
{
        position: relative;
        width: calc(85% - 200px);
        margin-top: 30px;
        margin-right: 7.5%;
}

.repo_list_result
{
        position: relative;
        display:flex;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 1px #DCDCDC solid;
        margin-top: 25px;
        color: black;
        padding-bottom: 10px;
}

.repo_list_result a
{
        text-decoration: none;
        color: black;
}

.description
{
        width: 100%;
        font-size: small;     
        word-wrap: break-word;
}

.project_logo
{
        position: relative;
        width: auto;
        height: 100px;
}

.project_name_description
{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        width: 80%;
}

.title_repo
{
	font-size: large;
        word-wrap: break-word;
}

.sub_title_repo
{
	font-size: small;
	color: #626968;
        word-wrap: break-word;
}
