/*Barre de navigation hors connexion */

.nav
{
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	left: 0;
	background-image:linear-gradient(#7A776A, #2D2C28);
	height: 65px;
        width: 100%;
}

.nav_link_div
{
	width: 25%;
	display: flex;
	justify-content: space-around;
}

.nav_link
{
	color: #DDD9D1;
}

.nav_link:hover
{
	color: #FFFFFF;
}

.nav_logo
{
	height: 60px;
}

.div_button
{
	width: 20%;
        display: flex;
        justify-content: space-around;	
}

.bouton_connexion
{
	height: 20px;
	width: 50px;	
	color: #DDD9D1;
	background-image: linear-gradient(to bottom, #68655A, #3D3B36);
	border-radius: 7px;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
 	border: solid #1F1E1C 1px;
	text-decoration: none;
}

.bouton_connexion:hover
{
	background-image: linear-gradient(to bottom, #3D3B36, #68655A);
	color: #FFFFFF;
}

.bouton_inscription
{
	height: 20px;
	width: 50px;
	color: #DDD9D1;
	background-image: linear-gradient(to bottom, #37A0E7, #2573A7);
        border-radius: 7px;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        border: solid #1F1E1C 1px;
        text-decoration: none;
}

.bouton_inscription:hover
{
	background-image: linear-gradient(to bottom, #2573A7, #37A0E7);
	color: #FFFFFF;	
}

.div_searchbar
{
	width: 30%;
        margin-left: 10%;
        margin-right: 5%;

}

.searchbar
{
	width: 100%;
	height: 25px;
	border: solid 1px black;
	border-radius: 6px;
}

