/*Barre de navigation hors connexion */

.nav
{
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	left: 0;
	background-image: url(../images/texture_nav.png);
	height: 65px;
        width: 100%;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7); 
	z-index: 2000;
}

.nav_link_div
{
	width: 20%;
	max-width: 380px;
	min-width: 230px;
	display: flex;
	justify-content: space-around;
}

.nav_link
{
	color: #B9B6B0;
}

.nav_link:hover
{
	color: #FFFFFF;
}

.nav_logo
{
	height: 60px;
}

.div_button
{
	width: 20%;
	max-width: 270px;
        display: flex;
        justify-content: space-around;	
}

.bouton_connexion
{
	height: 20px;
	width: 55px;	
	color: #DDD9D1;
	background-image: url(../images/texture_connexion.png);;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
 	border: solid #1F1E1C 1px;
	text-decoration: none;
}

.bouton_connexion:hover
{
	color: #FFFFFF;
}

.bouton_inscription
{
	height: 20px;
	width: 50px;
	color: #DDD9D1;
	background-image: url(../images/texture_inscription.png);
        border-radius: 5px;
        padding: 10px 20px 10px 20px;
        border: solid #1F1E1C 1px;
        text-decoration: none;
}

.bouton_inscription:hover
{
	color: #FFFFFF;	
}

.div_searchbar
{
	width: 30%;
        margin-left: 10%;
        margin-right: 5%;

}

.searchbar
{
	width: 100%;
	height: 25px;
	border: solid 1px black;
	border-radius: 5px;
}

