.repoperso_body
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex: 1;
}

#reduce
{
	position: relative;
	min-height: 340px;
	display: flex;
	flex-direction: column;
        justify-content: space-between;
	width: 200px;
        margin-bottom: -100px;
	flex: 1;
}

.aside_repoperso
{
	position: relative;
	width: 200px;
	height: 100%;
	background-image: url(../images/texture_aside.png);
	z-index: 2000;
	box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.7);
	flex: 1;
}

.aside_repoperso_title
{
        position: relative;
	width: 60%;
        height: 20px; 
        margin-top: 10px;
        background-image: url(../images/texture_inscription.png);
        border-radius: 0px 5px 5px 0px;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

.aside_repoperso_title_text
{
	margin-left: 10px;
	color: #DDD9D1;
}

.aside_repoperso_choix
{
        position: relative;
        width: 82%;
        height: 20px;
        margin-top: 10px;
        margin-left: 18%;
}


.aside_repoperso_choix_active
{
        position: relative;
        width: 82%;
        height: 20px;
	margin-top: 10px;
	margin-left: 18%;
        background-image: url(../images/texture_connexion.png);
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

.aside_repoperso_choix_text
{
        margin-right: 10px;
	margin-left: 5px;
        color: #DDD9D1;
}

.repo_list_title
{
        position: relative;
	color: black;
	font-size: xx-large;
	margin-bottom: 10px;
}

.repo_list_contain
{
        position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
        width: calc(80% - 236px);
        min-width: 200px;
        color: #DDD9D1;
        margin-top: 40px;
        margin-right: 10%;
        text-decoration: none;
	border-radius: 3px;
	border: 1px solid #BEBEBE;
}

.title_repo_list_contain
{
        position: relative;
	display: flex;
	justify-content: space-between;
	background-color: rgba(38, 142, 156, 0.3);
	border-bottom: 1px solid rgba(38, 142, 156, 0.5);
}

.title_repo_list_contain_a
{
	display: flex;
	justify-content: flex-start;
}

.title_repo_list_contain_a a
{
	text-decoration: none;
	color: #68777d;
	margin-top: 15px;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: -10px;
}

.tabgroup_repo_list_contain
{
	display: flex;
	position: relative;
	width: 100%;
	margin-top: 65px;
}

.tab_repo_list_contain
{
	position: relative;
        width: 25%;
	height: 0px;
	line-height: 10px;	
	border-right: 30px solid transparent;
	border-bottom: 30px solid rgba(0, 0, 0, 0.7);
	text-align: center;
	text-decoration: none;
        color: #E6E3DC;
}

.tab_repo_list_contain:hover
{
	border-bottom: 30px solid #009400;
}

.file_repo_list_contain
{
        position: relative;
        background-color: #F2F2F2;
        width: 100%;
	flex: 1;
	margin-top: -1px; 
	border-radius: 0px 0px 3px 3px;
        border-top: 1px solid black;
}

.title_repo_list_link_group
{
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin-top: 20px;
}

.button_git
{
        width: 120px;
	height: 18px;
	border-radius: 3px;
        border: 1px solid #7D171F;
        background: linear-gradient(#E72B3A, #A51E29);	
	margin-top: -3px;
	color:white;
	text-align: center;
        font-size: small;
}

.button_upload
{
        width: 120px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid #7D171F;
        background: linear-gradient(#00E700, #00A500);
        margin-top: -3px;
        color:white;
        text-align: center;
        font-size: small;
}

.button_new_folder
{
        width: 120px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid #7D171F;
        background: linear-gradient(#24ADE7, #197BA5);
        margin-top: -3px;
        color:white;
        text-align: center;
        font-size: small;
}

#GitLink
{
	display: none;
}

#GitLink:target
{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50px;
	width: auto;
	background: white;
	border-radius: 0px 0px 0px 3px;
	border-left: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
	padding: 5px;
	color: black; 
	right: 0;
	top: 50px;
	line-height: 17px;
}

#GitLink:target h3
{
	font-weight: bold;
	margin: 0;
}

.lien_git
{
	border-radius: 3px;
	border: 1px solid #C9C9C9;
	padding: 3px;
}

.lien_git::selection
{
        background: #C90000;
}


.lien_git::-moz-selection
{
	background: #C90000;
}

.project_logo
{
        position: relative;
        width: auto;
        height: 50px;
	margin-right: 15px;
}
